name: Lint

on:
  push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - run: yarn
    - run: yarn --cwd functions
    - run: yarn run lint
    - run: yarn run test
