name: Lint

on:
  push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm install
    - run: npm --prefix functions install
    - run: npm run lint
    - run: npm run test
